includes:
    - phpstan-baseline.neon

parameters:
    level: 4
    paths:
        - bin/generate-sdk.php
        - code-generation
        - src
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
